h1:hover{

color: #32CD32

}

body{
font-family: Comic Sans MS;
background-image:url(cat1.gif);
color: #1e00ff;
word-wrap: break-word;

}

h1:{
font-family: Comic Sans MS; 	
color:yellow;


}

p{
color: #BCDDB3

 

	
	
}